<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

<b>Objectives</b>
- Popular Languages in Data Science
- Popular open source tools in Data Science
- Arithmetic Expressions in Python

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Matplotlib</li>
<li>Pandas</li>
<li>Numpy</li>
</ol>

<table>
<tr>
<th>Data Science Tools</th>
</tr>

<tr>
<td>R Studio</td>
</tr>

<tr>
<td>Apache Hadoop</td>
</tr>

<tr>
<td>Tableau</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Akshata Jaiswal


Copyright Â©2024 IBM Corporation. All rights reserved.